<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.speakame">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tool:replace="android:icon">
        <activity android:name=".Activity.Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Main_Activity" />
        <activity
            android:name=".Activity.SignIn_Activity"
            android:label="@string/title_activity_sign_in_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.SignUp_Activity"
            android:label="@string/title_activity_sign_up_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.Verify_numberActivity"
            android:label="@string/title_activity_forgot__password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainScreenActivity"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Addnewcontact_activity"
            android:label="@string/title_activity_addnewcontact_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.Invitefrnd_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.TwoTab_Activity"
            android:label="@string/title_activity_two_tab_"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Privacy_Activity"
            android:label="@string/title_activity_privacy_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HelpFeedback_Activity"
            android:label="@string/title_activity_help_feedback_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Account_Activity"
            android:label="@string/title_activity_account_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GroupMemberList_Activity"
            android:label="@string/title_activity_contact_display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CreateGroupChatActivity"
            android:label="@string/title_activity_create_group_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SocialContactActivity"
            android:label="@string/title_activity_social_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Setting_Activity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DeleteAccount_Activity"
            android:label="@string/title_activity_delete_account_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.ChangeNumber_Activity"
            android:label="@string/title_activity_change_number_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentInfo_Activity"
            android:label="@string/title_activity_payment_info_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Notification_Activity"
            android:label="@string/title_activity_notification_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Contactus_Activity"
            android:label="@string/title_activity_contactus_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatActivity"
            android:label="@string/title_activity_chat_list_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.ViewContact_DetailActivity"
            android:label="@string/title_activity_view_contact__detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Favoirite_Activity"
            android:label="@string/title_activity_favoirite_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Languagelearn_activity"
            android:label="@string/title_activity_languagelearn_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.GroupChat_Activity"
            android:label="@string/title_activity_group_chat_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditProfile_Activity"
            android:label="@string/title_activity_edit_profile_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ContactList_Activity"
            android:label="@string/title_activity_contact_list_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ViewGroupDetail_Activity"
            android:label="@string/title_activity_view_group_detail_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ContactImport_Activity"
            android:label="@string/title_activity_contact_import_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Xmpp.MyService"
            android:enabled="true" />
        <service
            android:name=".Services.HomeService"
            android:enabled="true" />
        <service
            android:name=".Xmpp.MyXMPP"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.XmppConneceted"
            android:enabled="true" />

        <activity
            android:name=".Activity.SendImageActivity"
            android:label="@string/title_activity_send_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tool:replace="android:theme" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.ConfirmDelet_Account"
            android:label="@string/title_activity_confirm_delet__account"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        ​
        <activity
            android:name=".Activity.Forgot_paasword"
            android:label="@string/title_activity_forgot_paasword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatSetting"
            android:label="@string/title_activity_chat_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ConfirmLoginOtp"
            android:label="LOGIN"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.ForwardActivity"
            android:label="@string/title_activity_forward"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Services.VibrateService" />

        <activity
            android:name=".Activity.ConfirmChangeNumberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AlertSpeakameActivity"
            android:label="@string/title_activity_alert_speakame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CountryListActivity"
            android:label="@string/title_activity_country_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SelectLanguageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Recivers.NetworkStateChecker"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.AlertDaysSpeakameActivity"
            android:label="@string/title_activity_alert_days_speakame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.InstructionChangeNumberActivity"
            android:label="@string/title_activity_instruction_change_number"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EditNameActivity"
            android:label="@string/title_activity_edit_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.speakame"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Activity.ReferFreindActivity" />
        <activity android:name=".Activity.HelpFullActivity"
            android:label="Helpful Hints"></activity>
    </application>

</manifest>